<section class="banner1">
 <img class="escola.image" src="banner.png"
alt="Banner da Escola">
</section>

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

header{
  background-color: #424e61
  color: white;
  width: 100%;
  padding: 20px;

}
